@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
* {
    margin-left: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;}
ul {
	list-style: none;}
p {
	color: #5a5a5a;
	font-size: 16px;
	letter-spacing: 0.25px;
	line-height: 24px;}
.primary-button a {
	display: inline-block;
	background-color: #007399;
	padding: 12px 18px;
	color: #fff;
	font: bold;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.50px;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;}
.primary-button a:hover {
	background-color: #0099cc;}
.white-button a {
	display: inline-block;
	background-color:#007399;
	padding: 12px 18px;
	color: #fff;
	font-size: 20px;
	font: bold;
	font-weight: 500;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;}
.white-button a:hover {
	background-color:#0099cc;
	color: #fff;}
.section-heading h4 {
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	color: #121212;}
.section-heading .line-dec {
	width: 60px;
	height: 3px;
	background-color: #121212;
	margin: 0 auto;}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 78px;
    background-color:transparent;  
    text-align: center;
    line-height: 40px;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;}
.navbar-brand {
	line-height: 70px;}
.header.active .navbar-nav>li>a {
	font-size: 16px;
	font-weight: 300;
	text-shadow: none;
	color: #121212!important;}
.header.active {
    background-color: rgba(250, 250, 250, 0.98);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);}
.navbar-brand .logo{
	margin-top: 10px;
	background-image: url(../img/white_logo.png);
	background-color: transparent;
	display: inline-block;
	background-repeat: no-repeat;
	padding: 3px;
	width: 115px;
	height: 36px;}
.header.active .navbar-brand .logo{
	margin-top: 10px;
	background-image: url(../img/white_logo.png);
	display: inline-block;
	background-repeat: no-repeat;}
.logo:hover { 
	box-shadow: 2px 2px 2px 2px #0099cc;
	padding: 3px;
	transform: scale(1.2);
	z-index: 1000;
	opacity: 1;
	transition: all 0.5s;
    border-radius: 4px;}
#main-nav {
	background-color: transparent;
	background-image: none!important;
	text-align: center;
	padding: 5px;}
#main-nav ul li{
	display: inline-block;
	padding: 8px;}
#main-nav ul li a{
position: relative;
display: inline-block;	
line-height: 30px;
transition: 0.5s;
color: #ffffff;
font-size: 20px;
text-decoration: none;
overflow: hidden;
padding: 5px;
margin-top: 10px;
z-index: 1;}
#main-nav ul li a:hover{
  font-family:'Droid Arabic Kufi', serif;
  background:#0099cc;
  padding: 5px;
  transform: scale(1.2);
  z-index: 1000;
  opacity: 1;
  transition: all 0.5s;
  box-shadow: 2px 2px 2px 2px #cdcdcd;
  border-radius: 4px;}
.header .navbar-brand {
    font-weight: 900;}
.navbar-inverse {
	background-image: none;
	background-color: transparent;}
.header .navbar {
    margin: 0;
    border: none;}
.page-section {
    padding: 80px 0;}
.navbar-inverse .navbar-toggle {
	margin-top: 22px;
    border-color: #007399;
    background-color: #007399;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #0099cc;}
bootstrap.min.css:5
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;}
    .navbar-nav {
        float: right;}
}
@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;}
    .page-section h2 {
        font-size: 2em;}
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;}
    #copyright {
	margin-right:4px;}
}
/* HERO SLIDER */
.slide-caption {
	color: #fff;}
.slide-caption span {
	font-size: 20px;}
.slide-caption h2 {
	font-size: 36px;
	font-weight: 900;}
.slide-caption p {
	font-size: 22px;
	letter-spacing: 0.25px;
	line-height: 24px;}
ul.cd-hero-slider {
	margin-bottom: 0px!important;}
/* WHAT WE DO */
#about {
	background-color: #f4f4f4;
	padding: 80px 0px;}
#about .section-heading {
	margin-bottom: 60px;}
.service-item {
	cursor: pointer;
	font-family:'Droid Arabic Kufi', serif;
	background-color: #fff;
	text-align: center;
	padding: 30px 20px;
	transition: all 0.7s;
	box-shadow: 0px 0px 15px #cdcdcd;}
.service-item:hover {
	background-color:#007399;}
.service-item h4 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-top: 25px;}
.service-item:hover h4 {
	color: #fff;}
.service-item p {
	font-family:'Droid Arabic Kufi', serif;}
.service-item:hover p {
	color: #fff;}
.first-service .icon {
	background-image: url(../img/sec-service-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;}
.first-service:hover .icon {
	background-image: url(../img/sec-service-wh.png);}
.second-service .icon {
	background-image: url(../img/thi-service-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;}
.second-service:hover .icon {
	background-image: url(../img/thi-service-wh.png);}
.third-service .icon {
	background-image: url(../img/sec-service-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;}
.third-service:hover .icon {
	background-image: url(../img/sec-service-wh.png);}
.fourth-service .icon {
	background-image: url(../img/fir-service-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;}
.fourth-service:hover .icon {
	background-image: url(../img/fir-service-wh.png);}
#what-we-do {
	background-image: url(../img/what-we-do-bg.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0px;
	color: #fff;}
#what-we-do h4 {
	margin-right: 18px;
	font-family: 'Droid Arabic Kufi', serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 24px;
	margin-bottom: 12px;}
#what-we-do p {
	font-family: 'Droid Arabic Kufi', serif;
	font-size: 22px;
  line-height: 28px;
	margin-bottom: 20px;
  margin-right: 16px;
	color: #fff;
  float: right;}
#what-we-do ul li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;}
/* PORTFOLIO */
#portfolio {
	text-align: center;}
.projects-holder .mix {
  display: none;}
.filter-categories {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;}
.filter-categories ul li {
  margin: 0px 10px 15px 10px;
  display: inline-block;}
.filter-categories ul li span {
  font-family:'Droid Arabic Kufi', serif;
  cursor: pointer;
  color: #5a5a5a;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;}
.filter-categories ul li.active span {
  color: #007399;}
.project-item {
	margin-top: 30px;}
.project-item .thumb {
	position: relative;
	text-align: center;
	display: inline-block;}
.project-item .thumb img {
	width: 100%;
	overflow: hidden;}
.project-item .hover-effect {
	position: absolute;
	background-color:#0099cc;
	width: 100%;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;}
.project-item .hover-effect i {
	text-align: center;
	margin-top: 35%;
	display: inline-block;
	width: 46px;
	height: 46px;
	background-color: #fff;
	line-height: 46px;
	color: #007399;
	border-radius: 50%;
	font-size: 18px;}
.project-item .hover-effect i:hover {
	background-color: #007399;
	color: #fff;
	transition: all 0.5s;}
.project-item:hover .hover-effect {
	opacity: 1;
	visibility: visible;}
/* BLOG */
#blog {
	background-image: url(../img/blog-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;}
#blog .section-heading  {
	margin-bottom: 60px;}
#blog .section-heading h4 {
	color: black;}
#blog .section-heading .line-dec {
	background-color: black;}
#blog .pop, .pop2, .pop3 {
	background-color: #fff;}
.blog-item {
	cursor: pointer;
	margin-bottom: 30px;}
.blog-item img {
	width: 100%;
	overflow: hidden;}
.blog-item .thumb {
	position: relative;}
.blog-item .text-content {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 12px 20px;}
.blog-item .text-content h4 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;}
.blog-item .text-content span {
	font-size: 12px;
	color: #fff;}
.blog-item .text-content em {
	font-style: normal;
	font-weight: 700;
	margin-right: 5px;}
.pop, .pop2, .pop3 {
	z-index: 9999;
	text-align: center;
	padding: 30px;
    display:none;
    position:fixed;
    top:12%;
    left:10.3%;
    width:80%;
    height: auto;
    box-shadow: 0px 0px 25px #7a7a7a;}
.pop p, .pop2 p, .pop3 p {
	font-size: 20px;
	color: #000;}
.pop span, .pop2 span, .pop3 span {
	margin-bottom: 20px;
	cursor: pointer;
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 44px;
	color: #fff;
	text-align: center;
	background-color: #007399;}
.pop span:hover, .pop2 span:hover, .pop3 span:hover {
	background-color: #0099cc;
	transition: all 0.5s;}

/* FUN FACTS */
#fun-facts {
	padding: 100px 0px;
	background-color: #fff;}
#fun-facts .fact-item {
	background-color: #f4f4f4;
	padding: 30px;
	text-align: center;}
.fact-item .counter {
	font-size: 24px;
	font-weight: 700;
	color: #007399;}
.fact-item span {
	display: inline-block;
	margin-top: 10px;
	font-style: 13px;
	letter-spacing: 0.5px;
	color: #7a7a7a;}

/* CONTACT US */
#contact .section-heading h4 {
	font-size: 20px;
	color: #fff;}
#contact .section-heading .line-dec {
	background-color: #fff;}
#contact .section-heading {
	margin-bottom: 60px;}
#contact {
	background-image: url(../img/contact-bg.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;}
#copyright {
	font-family:'Droid Arabic Kufi', serif;
	text-align:center;
	font-size: 14px;
	color: white;
    padding: 50px;}
#contact .map img {
	width: 100%;
	overflow: hidden;}
.social-icons{      
   padding:50px;   }
.social-icons ul li{
   list-style-type:none;  
   margin:20px;  
   padding-right:15px;
   display:block ;}
.social-icons ul {
    display:flex;
    justify-content:center;
    align-items:center;}
.social-icons ul li a .fa {
    font-size:30px;
    color:#262626;
    line-height:45px;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;} 
.social-icons ul li a {
    position:relative;
    margin:0 5px;
    display:block;
    width:45px;
    height:45px; 
    border-radius:2px 4px 2px 0px;
    background-color:#eee;
    text-align:center;
    transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    -webkit-transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    -moz-transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    -o-transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow:-10px 10px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow:-10px 10px 10px rgba(0,0,0,0.5);
    -moz-box-shadow:-10px 10px 10px rgba(0,0,0,0.5);
    -o-box-shadow:-10px 10px 10px rgba(0,0,0,0.5);
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;}
.social-icons ul li a:before{
    content:"";
    position:absolute;
    top:5px;
    left:-10px;
    height:100%;
    width:10px;
    border-radius:2px 2px 0px 0px;
    background-color:#b1b1b1;
    transform:rotate(0deg) skewX(-45deg);
    -webkit-transform:rotate(0deg) skewY(-45deg);
    -moz-transform:rotate(0deg) skewY(-45deg);
    -o-transform:rotate(0deg) skewY(-45deg);
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;}
.social-icons ul li a:after{
    content:"";
    position:absolute;
    bottom:-10px;
    right:5px;
    height:10px;
    width:100%;
    border-radius:2px 2px 2px 0px;
    background-color:#b1b1b1;
    transform:rotate(0deg) skewX(-45deg);
    -webkit-transform:rotate(0deg) skewX(-45deg);
    -moz-transform:rotate(0deg) skewX(-45deg);
    -o-transform:rotate(0deg) skewX(-45deg);
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;  }
.social-icons ul li a:hover{
    transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(10px,-10px);
    -webkit-transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(10px,-10px);
    -moz-transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(10px,-10px);
    -o-transform:perspective(1000px) rotate(-30deg) skew(25deg) translate(10px,-10px);
    box-shadow:-30px 30px 30px rgba(0,0,0,0.5);
    -webkit-box-shadow:-30px 30px 30px rgba(0,0,0,0.5);
    -moz-box-shadow:-30px 30px 30px rgba(0,0,0,0.5);
    -o-box-shadow:-30px 30px 30px rgba(0,0,0,0.5);}

.social-icons ul li:hover .fa{color:#fff;}
.social-icons ul li:hover:nth-child(1) a{
     background-color:#3b5999;}
.social-icons ul li:hover:nth-child(2) a{
    background:#dd4b39;}
.social-icons ul li:hover:nth-child(3) a{
    background-color:#e4405f;}
.social-icons ul li:hover:nth-child(4) a{
    background-color:#55acee;}

.social-icons ul li:hover:nth-child(1) a:before{
     background-color:#2e4a86;}
.social-icons ul li:hover:nth-child(2) a:before{
    background:#c13929   }
.social-icons ul li:hover:nth-child(3) a:before{
    background-color:#d02d4c;}
.social-icons ul li:hover:nth-child(4) a:before{
    background-color:#4184b7;}
    
.social-icons ul li:hover:nth-child(1) a:after{
     background-color:#4a69ad;}
.social-icons ul li:hover:nth-child(2) a:after{
    background:#e8432f  }
.social-icons ul li:hover:nth-child(3) a:after{
    background-color:#f1395c;}
.social-icons ul li:hover:nth-child(4) a:after{
    background-color:#4d9bde;}
/* LIGHT BOX */
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;}
body.lb-disable-scrolling {
  overflow: hidden;}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;}
.lightbox {
  position: absolute;
  margin-top: 5%;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;}
.lightbox a img {
  border: none;}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');}
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;}
.lb-data {
  padding: 0 4px;
  color: #ccc;}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;}
.lb-data .lb-caption a {
  color: #4ae;}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;}

/* RESPONSIVE */
@media (max-width: 767px){
	#main-nav {
		border-color: rgba(250, 250, 250, 0.95);
		margin-top: 12px;
		background-color: rgba(250, 250, 250, 0.95);
		box-shadow: 0px 5px 10px #cdcdcd;}
	.navbar-nav {
		padding: 0px;
		margin-top: 0px;}
	.navbar-nav>li {
		margin-left: 0px;
		border-bottom: 1px solid #eee;}
	#main-nav ul li{
		display: block;}
	.navbar-nav>li:last-child {
		border-bottom: none;}
	.navbar-nav>li>a {
		line-height: 50px;
		color: #121212!important;}
	.navbar-brand .logo{
		position: relative;}
	#blog .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	#blog .pop2 {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	#blog .pop3 {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	.social-icons ul li{ 
   margin:12px;  
   padding-right:5px;}
   #copyright {
	margin-right:30px; }
}
@media (max-width: 768px){
	.cd-hero .slide-caption span {
		font-size: 13px;}
	.cd-hero .slide-caption h2 {
		font-size: 28px;}
	#blog .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	#blog .pop2 {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	#blog .pop3 {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	.social-icons ul li{ 
   margin:12px;  
   padding-right:5px;}
}
@media (max-width: 1015px){
	.slide-caption .content-caption p {
		padding: 0 10%;}
	.service-item {
		margin-bottom: 30px;}
	.fourth-service .icon {
	  background-image: url(../img/sec-service-main.png);
	  height: 32px;
	  width: 32px;
	  display: inline-block;}
	.fourth-service:hover .icon {
	  background-image: url(../img/sec-service-wh.png);}
	.third-service .icon {
	  background-image: url(../img/thi-service-main.png);
	  height: 32px;
	  width: 32px;
	  display: inline-block;}
	.third-service:hover .icon {
	  background-image: url(../img/thi-service-wh.png);}
	.second-service .icon {
	  background-image: url(../img/sec-service-main.png);
	  height: 32px;
	  width: 32px;
	  display: inline-block;}
	.second-service:hover .icon {
	  background-image: url(../img/sec-service-wh.png);}
	.first-service .icon {
	  background-image: url(../img/fir-service-main.png);
	  height: 32px;
	  width: 32px;
	  display: inline-block;}
	.first-service:hover .icon {
	  background-image: url(../img/fir-service-wh.png);}
	#blog .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	#blog .pop2 {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	#blog .pop3 {
		top: 15%;
		height: 80%;
		overflow-y: scroll;}
	.fact-item {
		margin-bottom: 15px;}
	.map {
		margin-bottom: 45px;}
	.social-icons ul li{ 
   margin:12px;  
   padding-right:5px;}
}